<p>
    <%= image_tag("enterhere.png", :width => "413", :height =>"91") %>
</p>
<%= form_for @contestant, :html =>{:multipart => true} do |f| %>
  
    <% if @contestant.errors.any? %>
    <% custom_messages = custom_errors_flag(@contestant) %>    
    
    <div id="error_explanation">
      <h2>Errors prohibited this post from being saved</h2>      
      <ul>                              
        <%if custom_messages[:other] %>               
            <li>Oops! Please be sure you complete all required information.</li>    
        <% end %>
        <% if custom_messages[:photo]  %>
            <li>Sorry, there’s a problem with your photo. Please upload a different file that is:<br />
                <ul>
                    <li>Either .JPEG or .TIFF format</li>
                    <li>At least 1 MB in size (up to 20 MB)</li>
                    <li>Taken in HORIZONTAL position, not vertical</li>
                <ul>                
            </li>
        <% end %>
      </ul>
    </div>
    <% end %>
  
    <p><span class="entersubhead">1. Upload your picture.&nbsp; &nbsp;</span>       
    <%= fields_for @contestant_entry do |current_entry_form|  %> 
        <%= current_entry_form.file_field :photo %>
    <% end %>    
    <br />
    <span class="smallital">(Horizontal .JPG or TIFF file no smaller than 1 MB and no larger than 20 MB)
    </span>    
  </p>
  <p><span class="entersubhead">2. Enter your contact information.</span> 
  </p>
  <!-- email for contestant -->
  <p>      
    <%= f.label :email, ("Email:") %>
    <%= f.text_field :email %>          
  </p>
  <p><span class="medium_label"> Confirm Email:</span>
    <%= f.text_field :email_confirmation %>          
  </p>
  <!-- other fields for constetant entry -->
  <%= fields_for @contestant_entry do |current_entry_form|  %> 
  <p>
    <%= current_entry_form.label :first_name, ("First Name:") %>
    <%= current_entry_form.text_field :first_name %>
  </p>
  <p>
    <%= current_entry_form.label :last_name, ("Last Name:") %>
    <%= current_entry_form.text_field :last_name %>
  </p>
  <p>
    <%= current_entry_form.label :address, ("Address:") %>
    <%= current_entry_form.text_field :address %>
  </p>
  <p>
    <%= current_entry_form.label :address2, ("Address 2:") %>
    <%= current_entry_form.text_field :address2 %>
  </p>
  <p>
    <%= current_entry_form.label :city, ("City:") %>
    <%= current_entry_form.text_field :city %>
  </p>
  <p>
    <%= current_entry_form.label :state, ("State:") %>        
    <%= select(:contestant_entry, :state, [ 	
	['', ''],
	['AL', 'AL'], 
	['AK', 'AK'],
	['AZ', 'AZ'],
	['AR', 'AR'], 
	['CA', 'CA'], 
	['CO', 'CO'], 
	['CT', 'CT'], 
	['DE', 'DE'], 
	['DC', 'DC'], 
	['FL', 'FL'],
	['GA', 'GA'],
	['HI', 'HI'], 
	['ID', 'ID'], 
	['IL', 'IL'], 
	['IN', 'IN'], 
	['IA', 'IA'], 
	['KS', 'KS'], 
	['KY', 'KY'], 
	['LA', 'LA'], 
	['ME', 'ME'], 
	['MD', 'MD'], 
	['MA', 'MA'], 
	['MI', 'MI'], 
	['MN', 'MN'],
	['MS', 'MS'], 
	['MO', 'MO'], 
	['MT', 'MT'], 
	['NE', 'NE'], 
	['NV', 'NV'], 
	['NH', 'NH'], 
	['NJ', 'NJ'], 
	['NM', 'NM'], 
	['NY', 'NY'], 
	['NC', 'NC'], 
	['ND', 'ND'], 
	['OH', 'OH'], 
	['OK', 'OK'], 
	['OR', 'OR'], 
	['PA', 'PA'], 
	['RI', 'RI'], 
	['SC', 'SC'], 
	['SD', 'SD'], 
	['TN', 'TN'], 
	['TX', 'TX'], 
	['UT', 'UT'], 
	['VT', 'VT'], 
	['VA', 'VA'], 
	['WA', 'WA'], 
	['WV', 'WV'], 
	['WI', 'WI'], 
	['WY', 'WY']] ) 
    %>    
  </p>  
  <p>
    <%= current_entry_form.label :zip, ("Zip:") %>
    <%= current_entry_form.text_field :zip, :size=>"5"%>
  </p>
  <p>
    <%= current_entry_form.label :phone, ("Phone:") %>
    <%= current_entry_form.text_field :phone %>
  </p>
  <p><span class="long_label">My photo was taken by (First and last name:)<br />
    <%= current_entry_form.text_field :photographer, :size=>"40", :style=>"padding-left: 30px;" %></span>
  </p>
  <p><span class="long_label">The location in my photo is (i.e. Art museum):<br />    
    <%= current_entry_form.text_field :location, :size=>"40", :style=>"padding-left: 30px;" %>
  </p>  
  <p>
    <span class="long_label">How did you hear about this contest?</span><br />
    <%= select(:contestant_entry, :contest_source, 
                [['E-mail', 'E-mail'], ['Flyer', 'Flyer'], ['Internet Ad', 'Internet Ad'], ['Agent', 'Agent'] ]               
              )   
    %>    
  </p>    
  <p>    
    <%= current_entry_form.check_box :agreed_to_rules %>
    I have read the <%= link_to "official rules", rules_path, :target => "_blank" %> of <%= get_brand %><br />
    PICTURE THIS! calendar contest and agree to <br />
    the contest's terms and conditions.</p>
  </p>  
  <p>
    <%= f.check_box :opt_in %>    
    Yes, please send me information and special<br />
    offers for <%= get_brand %>.
  </p>
 <% end %>
<span class="entersubhead"> 3. Click Submit and you're all set! </span>
  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>



