<span class="entersubhead">Contest Gallery</span>
<table id="gallery">
  <%= will_paginate  @contestants %>
  <% @contestants.each do |contestant| %>    
    <tr class="contestant_email_grid" width="100%">
      <td colspan="3">
         Contestant Email: <%= contestant.email %>
      </td>
    </tr>
    <tr class="contestant_entry_entries">
      <td class="contestant_entry">
        <% entry = get_entry contestant.contestant_entries,  1%>
        <% if not entry.nil? %>
        <%=  render  :partial => 'entry' , :object => entry%>
      <% end %>
      </td>
      <td class="contestant_entry">
        <% entry = get_entry contestant.contestant_entries,  2%>
        <% if not entry.nil? %>
        <%=  render  :partial => 'entry' , :object => entry%>
      <% end %>
      </td>
      <td class="contestant_entry">
        <% entry = get_entry contestant.contestant_entries,  3%>
        <% if not entry.nil? %>
        <%=  render  :partial => 'entry' , :object => entry%>
      <% end %>
      </td> 
    </tr>
  <% end %><!-- end unique contestant loop-->
</table>
