<p>
  <img src="<%= image_path("header1.png")%>"
       alt="Share your favorite picture of your community and win!"
       width="552"
       height="73"
    />
</p>
<p>
  At <a href="<%= get_brand_url %>"
        target="_blank"><%= get_brand %>,
      </a> we not only insure a community, we make a difference. Through the MyCOMMUNITY program, we lend a helping hand to causes that mean the most to you. Now we want to do even more!
      </a><br />
  <br />
  To celebrate our focus on the communities we serve and call home, we’ve created the PICTURE THIS! calendar contest, featuring photos submitted by friends and neighbors like you. </p>
<p>What do you love about your neighborhood? What’s a wonderful thing about your community that you want to show everyone? What makes your community unique?</p>
<p><img src="<%= image_path("participate.png")%>" alt="Participate Now!" width="343" height="172" /></p>
<p>Send your favorite photos that share our spirit of community commitment and we’ll select one winning photo for each month in our new 2012 MyCOMMUNITY calendar. Don’t forget to include seasonal backgrounds or scenes! </p>
<p><img src="<%= image_path(PhotoContest::Application.config.header_offerbox_asset_path) %>" alt="If your photo is selected, you'll WIN: $100 Visa Gift Card, 20 copies of the calendar" width="524" height="168" /></p>
<span class="redtext1"><p align="left">Thank you for visiting us!</p><p>The last date to enter was December 23, 2011.</p><p>Please stay tuned for new contests and promotions coming soon!</p></span>
 
<p align="center" class="redtext2">Capture your community pride and share your<br />
  favorite pictures to WIN!</p>
