<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <div id="wrap">
      <%= render 'layouts/header' %>
      <%= render 'layouts/nav' %>       
      <div id="main">        
        <section>
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, :class => "flash #{key}") unless value ="Success" %>
          <% end %>
          
          <%= yield %>
        </section>        
      </div><!-- main --->
      <%= render 'layouts/sidebar' %>
      <%= render 'layouts/footer' %>               
    </div><!-- wrap -->  
    <%= debug(params) if Rails.env.development? %>
    </body>
</html>

