<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
      </style>
  </head>
  <body>
    <div class="container">

      <header>
        
       <nav>
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Enter", enter_path %></li>
            <li><%= link_to "Rules", rules_path %></li>
          </ul>
        </nav>

        <div class="user-auth-nav" style="float:right">
          <% if user_signed_in? %>  
          <%= link_to('Logout', destroy_user_session_path, :method=> :delete) %> 
          <% else %>
          <%= link_to('Login', new_user_session_path)  %> 
          <% end %>
        </div
              
      </header>

      <section>
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, :class => "flash #{key}") %>
        <% end %>
        
        
          <%= yield %>
        
      </section>
      
      <footer>
        <p>
        Sed at sollicitudin enim. Mauris vestibulum velit ut enim porttitor et dapibus neque semper. Aliquam non fermentum dui. Proin ac elit tellus. Mauris est nibh, posuere at placerat eu, adipiscing eget libero. Praesent cursus tellus et risus bibendum sit amet vulputate felis accumsan. Nam nec varius nisi. Morbi vitae varius metus. In pulvinar iaculis rhoncus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc accumsan tincidunt rutrum.
        </p>        
      </footer>
            
      <%= debug(params) if Rails.env.development? %>
      </div>

   </body>
</html>

