<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <div id="wrap">
       <%= render 'layouts/header' %>
      <div id="nav">
          <ul>
            <li><span class="navspace"><%= link_to "Home", root_path %></span></li>            
            <li><span class="navspace"><%= link_to "Rules", rules_path %></span></li>
            <li><span class="navspace"><%= link_to "Enter", enter_path %></span></li>
            <li><span class="navspace">              
              <% if user_signed_in? %>  
                <%= link_to('Logout', destroy_user_session_path, :method=> :delete) %> 
              <% else %>
                <%= link_to('Login', new_user_session_path)  %> 
              <% end %></span>             
            </li>
        </div>
      <div id="main_gallery"> 
        <section>
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, :class => "flash #{key}")  unless value ="Success" %>
          <% end %>
          <%= yield %>        
        </section>
      </div>
      <div id="sidebar_gallery">
      </div><!-- sidebar -->
     <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
   </body>
</html>

